<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Graph View.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Graph-iti.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>GraphKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>GraphView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AE354763195CA215006A823C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE354775195CA216006A823C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE35478A195CA230006A823C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE354794195CA231006A823C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE3547E1195CBD5B006A823C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE3547EB195CBD5B006A823C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE354812195CC2D0006A823C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE35481C195CC2D1006A823C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
